/* Reset some default styles for consistency */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: transparent; /* Set background color to transparent */
    color: #f70606;
    padding: 10px 0;
}

/* Box for the header */
.header-box {
    background-color: #000000; /* Background color for the header box */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Add a box shadow for a raised effect */
}

.header-left h1 {
    font-size: 24px;
}

.header-right nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.header-right nav ul li {
    margin-right: 20px;
}

.header-right nav a {
    text-decoration: none;
    color: #f70606;
    font-weight: bold;
}

/* Footer styles  */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* Center the image horizontally and vertically within a container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Resize the centered image */
.resized-centered-image { 
    max-width: 50%; 
    max-height: 50%; 
}


